@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}


html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    width: 223px;
    height: 450px;
    background: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#tela {
    position: relative;
    top: 58px;
    left: 16px;
    height: 337px;
    width: 191px;
}

#social {
    text-align: right;
}

section#social img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 6px black;
    box-sizing: border-box;
}

#social img:hover {
    border: 2px solid rgba(255, 255, 255, 0.631);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.567);
    transform: scale(1.07);
    transition: transform 0.5s;
}